{% extends 'base.html.twig' %}

{% block body %}

    <div id="waiting-fog">&nbsp;</div>
    <div id="waiting-container">
        <img id="waiting-img" src="{{ asset('build/img/loading.gif') }}"  alt="waiting"/>
    </div>

    <div id="import-container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3>
                    <img src="{{ asset('build/img/lego-builder.png') }}"  alt="lego-builder"/>
                    Neues LEGO Set anlegen
                </h3>
            </div>
            <div class="col-12 col-lg-6 mb-4 text-end">
                <div class="input-group">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input id="research_input" class="form-control align-middle" type="text" value="" placeholder="Nummer nachschlagen" />&nbsp;
                    <div class="input-group-append my-auto">
                        <input id="research_button" class="btn btn-sm btn-outline-primary align-middle form-control" type="button" value="Set nachschlagen" />
                    </div>
                </div>
            </div>
        </div>

        {{ form_errors(form) }}
        {{ form_start(form) }}
        {{ form_row(form.number) }}
        {{ form_row(form.name) }}
        <div class="mb-1">&nbsp;</div>
        <ul class="file-collection" data-prototype="{{ form_widget(form.manuals.vars.prototype)|e('html_attr') }}">
            {% for manual in form.manuals %}
                <li>{{ form_row(manual.url) }}</li>
            {% endfor %}
        </ul>
        <div class="text-end">
            <button type="button" class="btn btn-outline-primary"
                    id="button-add-set"
                    data-collection-holder-class="file-collection">
                weitere URL hinzufügen
            </button>
        </div>
        <div class="mb-1">&nbsp;</div>

        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
