<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Finns LEGO&reg; Anleitungen{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <!-- App Logo -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/appicons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('build/appicons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/appicons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/appicons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/appicons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/appicons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/appicons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/appicons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/appicons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('build/appicons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/appicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/appicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/appicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/appicons/manifest.json') }}">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="display-4 ms-3">Finns <a href="{{ path('index') }}">
        <img id="logo" src="{{ asset('build/img/logo.jpeg') }}"  alt="Logo"/></a> Anleitungen
    </div>
    {%  if Sets  is defined %}
    <div class="searchbar">
        <form class="form-inline d-flex align-items-center">
            <img class="investigator" src="{{ asset('build/img/lego-investigator-s.png') }}"  alt="lego-investigator-s.png"/>
            <input id="input_filter" class="form-control mr-sm-2" type="text" placeholder="Suche" aria-label="Suche">
            <div id="filter_reset" class="reset">&#10008;</div>
        </form>
    </div>
    {% endif %}

</nav>

<main role="main">

    <div class="container">
        {% for label, messages in app.flashes %}
            {% set class = 'alert-' ~ label %}
        {% if label == 'error' %}{% set class = 'alert-danger' %}{% endif %}
            {% for message in messages %}
                <div class="alert {{ class }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        <hr>
    </div>
    {%  if Sets  is defined %}
        <div id="add_set_container">
            <a href="{{ path('import') }}" title="Neues Set Hinzufügen" data-bs-toggle="tooltip" data-bs-placement="left">
                <img src="{{ asset('build/img/lego-builder.png') }}"  alt="lego-builder"/>
            </a>
        </div>
    {% endif %}
</main>

<footer class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>&copy; Oliver Joo&szlig;</p></div>
        <div class="col-md-4 col-sm-6 text-md-center text-sm-right">
            <p style="color: #bebebe;">
                <small>
                    {%  if Sets  is defined %}
                    {{ Sets|length }} Sets / {{ fileCount }} Anleitungen
                    {% endif %}
                </small>
            </p>
        </div>
        <div class="col-md-4 col-sm-12">
        {%  if Sets  is defined %}
        <p style="text-align: right"><a href="{{ path('import') }}">weitere Sets hinzuf&uuml;gen >></a></p>
        {% endif %}
        </div>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
