<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% block title %}Finns LEGO&reg; Anleitungen{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <!-- App Logo -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/appicons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('build/appicons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/appicons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/appicons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/appicons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/appicons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/appicons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/appicons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/appicons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('build/appicons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/appicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/appicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/appicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/appicons/manifest.json') }}">
</head>
<body>

<div style="background-color: rgb(255, 207, 0); position: fixed; top: 0; width: 100%;">
    {% if app.debug %}
        <div style="position: absolute; top: 0; left: 0; padding: 3px; z-index: 99999999">
            <div class="d-block d-sm-none">xs</div>
            <div class="d-none d-sm-block d-md-none">sm</div>
            <div class="d-none d-md-block d-lg-none">md</div>
            <div class="d-none d-lg-block d-xl-none">lg</div>
            <div class="d-none d-xl-block d-xxl-none">xl</div>
            <div class="d-none d-xxl-block">xxl</div>
        </div>
    {% endif %}
    <div id="header" class="container">
        <div class="row header-row">
            <div class="col-md-7 col-lg-8 col-xl-9 col-12 header-column header-column-left">
                <div class="ms-3">Finns <a href="{{ path('index') }}">
                        <img id="logo" src="{{ asset('build/img/logo.jpeg') }}"  alt="Logo"/></a> Anleitungen
                </div>
            </div>
            <div class="col-md-5 col-lg-4 col-xl-3 col-12 header-column header-column-right">
                {%  if Sets  is defined %}
                    <div class="searchbar ms-auto d-flex align-items-center">
                        {%  if Sets  is defined %}
                        <a class="me-3" href="{{ path('import') }}" title="Neues Set Hinzufügen" data-bs-toggle="tooltip" data-bs-placement="left">
                            <img src="{{ asset('build/img/lego-builder.png') }}"  alt="lego-builder"/>
                        </a>
                        {% endif %}
                        <form class="form-inline d-flex align-items-center">
                            <img class="investigator" src="{{ asset('build/img/lego-investigator-s.png') }}"  alt="lego-investigator-s.png"/>
                            <input id="input_filter" class="form-control mr-sm-2" type="text" placeholder="Suche" aria-label="Suche">
                            <div id="filter_reset">&#10008;</div>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<main role="main">
    <div class="container">
        {% for label, messages in app.flashes %}
            {% set class = 'alert-' ~ label %}
        {% if label == 'error' %}{% set class = 'alert-danger' %}{% endif %}
            {% for message in messages %}
                <div class="alert {{ class }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        <hr>
    </div>
</main>

<footer class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>&copy; Oliver Joo&szlig;</p></div>
        <div class="col-md-4 col-sm-6 text-md-center text-sm-right">
            <p style="color: #bebebe;">
                <small>
                    {%  if Sets  is defined %}
                    {{ Sets|length }} Sets / {{ fileCount }} Anleitungen
                    {% endif %}
                </small>
            </p>
        </div>
        <div class="col-md-4 col-sm-12">
        {%  if Sets  is defined %}
        <p style="text-align: right"><a href="{{ path('import') }}">weitere Sets hinzuf&uuml;gen >></a></p>
        {% endif %}
        </div>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
