<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Finns LEGO&reg; Anleitungen{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- customise -->
    <link href="/css/app.css" rel="stylesheet">
    <!-- App Logo -->
    <link rel="apple-touch-icon" sizes="57x57" href="appicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="appicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="appicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="appicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="appicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="appicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="appicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="appicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="appicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="appicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="appicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="appicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="appicons/favicon-16x16.png">
    <link rel="manifest" href="appicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="appicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="display-4">Finns <a href="/"><img id="logo" src="/img/logo.jpeg" /></a> Anleitungen</div>
    {%  if Sets  is defined %}
    <div class="searchbar">
        <form class="form-inline">
            <script type="text/javascript">
                function filterManuals()
                {
                    let queryString = document.getElementById('filter').value;
                    let boxes = document.getElementsByClassName("manual-box");
                    for(let i=0; i<boxes.length; i++)
                    {
                        let box = boxes[i];
                        let caption = box.getAttribute('data-filter');
                        if (queryString.length < 3 ||   caption.search(new RegExp(queryString, "i")) > -1  ) {
                            box.style.display = 'block';
                        } else {
                            box.style.display = 'none';
                        }
                    }
                }
                function resetFilter()
                {
                    document.getElementById('filter').value = "";
                    filterManuals();
                }
            </script>
            <img class="investigator" src="/img/lego-investigator-s.png" />
            <input id="filter" class="form-control mr-sm-2" type="text" placeholder="Suche" aria-label="Suche" onkeyup="filterManuals();">
            <div class="reset" onclick="resetFilter();">&#10008;</div>
        </form>
    </div>
    {% endif %}

</nav>

<main role="main">

    <div class="container">

        {% for label, messages in app.flashes %}
            {% set class = 'alert-' ~ label %}
        {% if label == 'error' %}{% set class = 'alert-danger' %}{% endif %}
            {% for message in messages %}
                <div class="alert {{ class }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        <hr>
    </div> <!-- /container -->

</main>

<footer class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6"><p>&copy; Oliver Joo&szlig;</p></div>
        <div class="col-md-4 col-sm-6 text-md-center text-sm-right">
            <p style="color: #bebebe;">
                <small>
                    {{ Sets|length }} Sets / {{ fileCount }} Anleitungen
                </small>
            </p>
        </div>
        <div class="col-md-4 col-sm-12">
        {%  if Sets  is defined %}
        <p style="text-align: right"><a href="{{ path('import') }}">weitere Sets hinzuf&uuml;gen >></a></p>
        {% endif %}
        </div>
    </div>
</footer>
</body>
</html>
