{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Uhhhhps...</h1>

    <div style="margin: 15px auto 15px auto; width: 800px; position:relative;">
        <img style="max-width: 100%; max-height: 100%;" src="{{ asset('build/img/escape.png') }}"  alt="escape"/>
        {% if status_code == 404 %}<img style="position: absolute; top: 140px; left: 300px; width: 170px;" src="{{ asset('build/img/404.png') }}"  alt="404"/>{% endif %}
    </div>

    <script type="text/javascript">
        function showException() {
            document.getElementById('exception').style.display = 'block';
            document.getElementById('investigator').style.display = 'none';
        }
        function hideException() {
            document.getElementById('exception').style.display = 'none';
            document.getElementById('investigator').style.display = 'block';
        }
    </script>
    <div id="investigator" style="text-align: right">
        <img src="{{ asset('build/img/lego-investigator-s.png') }}" style="cursor: pointer;" onclick="showException()"  alt="lego-investigator"/>
    </div>
    <div id="exception" style="display: none">
        <h4>
            <img src="{{ asset('build/img/lego-investigator-s.png') }}" style="cursor: pointer;" onclick="hideException()"  alt="lego-investigator"/>
            {{ exception.message }}
        </h4>
        <pre>{{ exception.traceAsString }}</pre>
    </div>
{% endblock %}
